/* css style sheet
WT 07/26/204 */

header {
    font-style: normal;
    font-size: 80px;
    text-align: center;
}

nav {

}

nav a {

}

nav.hover {

}

body {

}

footer {
    text-align: center;

}