/* css style sheet
WT 07/26/204 */

header {
    font-style: normal;
    font-size: 80px;
    text-align: center;
}

header.button {
    background-color: #303D41;
    color: #fff;
}

nav {

}

nav a {

}

nav.hover {

}

body {
    background-color: #E0E2ED;
    color: #303D41;
}

footer {
    text-align: center;

}